ion-card{
    width: 350px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}
ion-toolbar {color:black;}

ion-content{background-color:secondary;
}

ion-card{background-color:white; width: 650px;}
ion-grid{color:white; }
ion-grid {
   background: repeat;
    background-image: url("https://img.fruugo.com/product/6/42/90278426_max.jpg"); }